// 定位上下左右居中
@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin wh($width, $height) {
  width: $width;
  height: $height;
}

@mixin fj($type: space-between) {
  display: flex;
  justify-content: $type;
}
